
.DS_Store

# /latex.old/tgbot.chatid symlinked to "../tgbot.chatid"
tgbot.chatid

/latex.old/*.aux
/latex.old/*.log
/latex.old/*.out
/latex.old/*.toc

/latex.old/*.pdf

# /*.tmp

/media
/*.zip

/out/*
!/out/.gitkeep

/link_to_*

/*.m4a
